// TO CHOOSE NEW COLORS, ONLY USE MATERIAL PALETTE :
// https://material.io/resources/color/#!/?view.left=0&view.right=0

// BEFORE SETTING NEW TYPOGRAPHY STYLE PROPERTIES :
// https://material.angular.io/guide/typography

$teal: #00bfa5; // Material Teal A700
$amber: #ffab00; // Material Amber A700
$red: #f44336; // Same "red error" than other fields
$placeholder-color: #424242; // Material Grey 800
$sidenav-width-px: 230px;
