.wip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 50px;
  max-width: 500px;

  #wip-title {
    margin: 2.1rem 0;
    line-height: 2.2rem;
  }

  #wip-subtitle {
    margin: 1.7rem 0;
    line-height: 1.8rem;
  }

  mat-icon, #wip-title, #wip-subtitle {
    display: inline-flex;
    align-items: center;
  }

  #wip-description {
    font-size: 1.25rem;
  }

  p, li {
    font-style: oblique;
  }
}
