@import "styles/variables";

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.small-screen {
    flex: 1 0 auto;
  }
}

.top-toolbar {
  position: fixed;
  z-index: 2;

  .spacer {
    flex: 1 1 auto;
  }

  h1.app-name {
    padding: 0 16px 0 8px;

    &:hover {
      cursor: pointer;
    }
  }
  .authenticated-area {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    margin-left: 16px;

    .user-name {
      font-weight: 400;
      font-size: 14px;
      padding: 0 24px 0 8px;
    }
  }
}

.sidenav-container {
  flex: 1 0 auto;

  .sidenav {
    width: $sidenav-width-px;

    .add-button {
      border-top: rgba(255,255,255,.12) 1px solid;

      .add-icon {
        margin: auto;
      }
    }
  }
}

