<div class="app-container"
     [class.small-screen]="widthMode === 'small'"
     [class.large-screen]="widthMode === 'large'">

  <mat-toolbar color="primary" class="top-toolbar"
               [style.height.px]="TOOLBAR_HEIGHT">
    <button *ngIf="isAuthenticated" mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name" (click)="goHome()">MuzBand</h1>
    <span class="spacer"></span>
    <app-header-menu *ngIf="authenticatedUser"
                     [authenticatedUser]="authenticatedUser"></app-header-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="TOOLBAR_HEIGHT">
    <mat-sidenav *ngIf="authenticatedUser" #sidenav
                 [mode]="widthMode === 'small' ? 'over' : 'side'"
                 position="start"
                 class="sidenav"
                 [fixedInViewport]="true"
                 [fixedTopGap]="TOOLBAR_HEIGHT">
      <mat-nav-list>
        <mat-list-item *ngFor="let music of (sidenavMusicsState$ | async)"
                       [matTooltip]="music.artist"
                       [matTooltipPosition]="'right'"
                       [routerLink]="['/music', music.id]">
          {{ music.title }}
        </mat-list-item>
        <mat-list-item class="add-button"
                       matTooltip="Ajouter une musique"
                       (click)="openAddMusicDialog()">
          <mat-icon class="add-icon" aria-hidden="false" aria-label="Ajouter une nouvelle musique">add_circle_outline</mat-icon>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content role="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
