<div class="user-sheet-container">
  <form [formGroup]="userForm" class="user-form" (ngSubmit)="onSubmit()">
    <h3>{{ !member ? 'Nouveau ' : '' }}Membre</h3>
    <mat-form-field [floatLabel]="member ? 'always' : 'auto'">
      <mat-label>Nom</mat-label>
      <input type="text" matInput
             [placeholder]="member ? 'Pas de nom' : ''"
             [readonly]="readonly"
             formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" matInput
             [readonly]="readonly"
             formControlName="email">
    </mat-form-field>
    <form *ngIf="!readonly && !member" [formGroup]="passwordsForm" class="password-form">
      <mat-form-field>
        <mat-label>Mot de Passe</mat-label>
        <input matInput
               formControlName="password"
               [type]="passwordHidden ? 'password' : 'text'"
               [required]="!readonly">
        <button mat-icon-button matSuffix
                (click)="passwordHidden = !passwordHidden">
          <mat-icon>{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordsForm.hasError('required', 'password')">
          Entrez un mot de passe
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Précisez le mot de passe</mat-label>
        <input matInput
               formControlName="confirmPassword"
               [type]="confirmPasswordHidden ? 'password' : 'text'"
               [errorStateMatcher]="passwordsMatcher">
        <button mat-icon-button matSuffix
                (click)="confirmPasswordHidden = !confirmPasswordHidden">
          <mat-icon>{{ confirmPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordsForm.hasError('notSame')">
          Une seconde fois
        </mat-error>
      </mat-form-field>
    </form>
    <div *ngIf="!readonly" class="actions">
      <button type="submit"
              [disabled]="userForm.invalid || !userForm.dirty"
              mat-raised-button>Sauvegarder</button>
      <button mat-button color="warn"
              type="button"
              matTooltip="Se désinscrire"
              matTooltipPosition="above"
              (click)="delete()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </form>
</div>
