@import "src/app/styles/variables";

.saving-loader {
  margin: auto;
}

.confirm-button {
  background-color: $teal;
}

.operate-spinner {
  display: inline-block;
  min-width: 24px;
}

mat-dialog-content {
  max-width: 300px;
  margin-bottom: 2rem;
  text-align: center;
}

mat-dialog-actions {
  justify-content: space-around;
}
