.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .close-icon {
    cursor: pointer;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
