.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .close-icon {
    cursor: pointer;
  }
}

mat-dialog-content {
  padding: 0;
}

#music-form-content, #musician-forms-content, #confirm-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.saving-loader {
  margin: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
