<div class="header">
  <h1 mat-dialog-title>Créez une nouvelle Musique</h1>
  <mat-icon aria-hidden="false"
            aria-label="Fermer la fenêtre"
            class="close-icon"
            (click)="leave()">close</mat-icon>
</div>
<p class="mat-caption">C'est le {{ musicScore }}ème, Bravo !</p>
<mat-dialog-content>
  <mat-horizontal-stepper labelPosition="bottom">

    <mat-step [stepControl]="musicForm">
      <ng-template matStepLabel>Morceau</ng-template>
      <form id="music-form-content"
            [formGroup]="musicForm"
            (ngSubmit)="saveMusic()">
        <mat-form-field>
          <mat-label>Titre</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <div>
          <button mat-button type="button" matStepperPrevious>Back</button>
          <button mat-button type="button" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Instruments & Musiciens</ng-template>
      <div id="musician-forms-content">
        <app-musician-form *ngFor="let i of musicianFormsNumber | fill"
                           (saveSuccess)="onSaveMusician($event)"
                           (removeSuccess)="onRemoveMusician($event)"></app-musician-form>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Validez</ng-template>
      <div id="confirm-content">
        <h4>Cliquez sur "Ok" !</h4>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions class="footer">
  <button mat-button
          type="reset"
          cdkFocusInitial
          (click)="leave()">Retour</button>
  <button mat-button
          type="submit"
          [disabled]="!musicForm.valid">
    <span *ngIf="!saving">Ok</span>
    <mat-spinner *ngIf="saving"
                 class="saving-loader"
                 diameter="24"></mat-spinner>
  </button>
</mat-dialog-actions>
