.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .oblique {
    font-style: oblique;
  }

  .close-icon {
    cursor: pointer;
  }
}

.add-music-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  mat-dialog-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    mat-horizontal-stepper {
      display: flex;
      flex-direction: column;
      align-content: space-around;

      ::ng-deep.mat-horizontal-content-container {
        padding: 2rem 0 0 0;
      }
    }
  }

  @media screen and (max-width: 599px) {
    min-height: 90vh;
  }

  @media screen and (min-width: 600px) {
    min-height: 599px;
  }
}

#music-form-content, #musician-forms-content, #confirm-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  mat-form-field {
    width: 66%;
    margin-bottom: 1rem;
  }
}

.saving-loader {
  margin: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
