<div class="add-music-container">

  <div class="header">
    <h1 mat-dialog-title>
      Créez une nouvelle Musique&nbsp;
      <span class="mat-caption oblique">( {{ musicScore }}ème )</span>
    </h1>
    <mat-icon aria-hidden="false"
              aria-label="Fermer la fenêtre"
              class="close-icon"
              (click)="leave()">close</mat-icon>
  </div>

  <mat-dialog-content>
    <mat-horizontal-stepper labelPosition="bottom" #stepper linear>

      <mat-step [stepControl]="pieceForm" state="music_note">
        <form id="music-form-content"
              [formGroup]="pieceForm">
          <ng-template matStepLabel>Le Morceau</ng-template>
          <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Artiste</mat-label>
            <input matInput formControlName="artist">
          </mat-form-field>
          <div>
            <button mat-button
                    matStepperNext
                    (click)="saveMusic()">Suivant</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="musiciansForm"
                state="group_add">
        <ng-template matStepLabel>Instruments & Musiciens</ng-template>
        <form id="musician-forms-content" [formGroup]="musiciansForm">
          <app-musician-form *ngFor="let i of (musicians.length + 1) | fill"
                             [music]="music"
                             (saveSuccess)="onSaveMusician($event)"
                             (removeSuccess)="onRemoveMusician($event)"></app-musician-form>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>

      <ng-template matStepperIcon="valid">
        <mat-icon>done</mat-icon>
      </ng-template>
      <mat-step state="valid" [stepControl]="musicForm">
        <ng-template matStepLabel>Validez</ng-template>
        <div id="confirm-content">
          <h4>Cliquez sur "Ok" !</h4>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
          </div>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-dialog-content>

  <mat-dialog-actions class="footer">
    <button mat-button
            type="reset"
            cdkFocusInitial
            (click)="leave(); stepper.reset()">Retour</button>
    <button mat-button
            type="submit"
            [disabled]="!pieceForm.valid"
            (click)="terminate(); stepper.reset()">
      <span *ngIf="!saving">Ok</span>
      <mat-spinner *ngIf="saving"
                   class="saving-loader"
                   diameter="24"></mat-spinner>
    </button>
  </mat-dialog-actions>

</div>
