@import "app/styles/variables";
@import "app/styles/operation-success-snackbar";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
  outline: none;
}

.app-bottom-sheet {
  min-height: 50vh;
}

.app-dialog {
  @media screen and (max-width: 599px) {
    min-height: 100vh;
  }

  @media screen and (min-width: 600px) {
    min-height: 50vh;
  }
}

pre {
  color: whitesmoke;
}
