@import "app/styles/variables";
@import "app/styles/saving-success-snackbar";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
  outline: none;
}
