<div class="music-piece-container">
  <mat-spinner *ngIf="!music" diameter="50" color="primary"></mat-spinner>
  <h1 id="music-title" [class.placeholder-mode--h1]="!music">{{ music?.title }}</h1>
  <mat-tab-group #sheets
                 dynamicHeight="true"
                 animationDuration="750ms">
    <mat-tab>
      <ng-template mat-tab-label>
        Global
      </ng-template>
      <app-music-sheet [music]="music"></app-music-sheet>
    </mat-tab>
    <mat-tab *ngFor="let tab of musicianTabs">
      <ng-template mat-tab-label>
        <div class="musician-tab-header">
          {{ tab.headerLabel }}
          <span class="subtitle">{{ tab.resources.member?.useName() }}</span>
        </div>
      </ng-template>
      <app-musician-worksheet [data]="tab.resources"></app-musician-worksheet>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matTooltip="Associer un nouvel instrument">add_library</mat-icon>
      </ng-template>
      <div class="add-musician-section">
        <h3 id="add-musician-title">Associer un nouvel Instrument</h3>
        <app-musician-form [music]="music"
                           [persistent]="false"
                           (saveSuccess)="onNewMusician($event)"></app-musician-form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
