<div class="music-piece-container">
  <mat-spinner *ngIf="!music" diameter="50" color="primary"></mat-spinner>
  <h1 id="music-title" [class.placeholder-mode--h1]="!music">{{ music?.title }}</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Global
      </ng-template>
      Global sheet
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Guitare
      </ng-template>
      All Guitare Content
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Batterie
      </ng-template>
      Some elements to practice on drums part of this music
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>add_library</mat-icon>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
