.divider {
  flex: 1 1 auto;
  min-height: 1px;
  margin-bottom: 1.5rem;
}

.music-data-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1 1 auto;
    margin-right: 1rem;
    max-width: 25%;

    @media screen and (min-width: 600px) {
      max-width: 25%;
    }

    @media screen and (max-width: 599px) {
      max-width: 100%;
    }
  }
}
