<mat-expansion-panel expanded="true"
                     (opened)="dataPanelOpen = true"
                     (closed)="dataPanelOpen = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Informations détaillées
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div class="data-controls">
      <div *ngIf="!readonly">
        <button mat-button
                matTooltip="Mettre à jour"
                matTooltipPosition="above"
                [disabled]="musicForm.invalid || !musicForm.dirty">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-button color="warn"
                matTooltip="Supprimer la musique"
                matTooltipPosition="above"
                (click)="delete()">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
      <mat-slide-toggle #dataMode
                        [color]="'primary'"
                        [checked]="false">
        {{ readonly ? 'Lecture seule' : 'Modifiable' }}
      </mat-slide-toggle>
    </div>
  </ng-template>
</mat-expansion-panel>
